.lds_dual_ring {
    display: inline-block;
    width: var(--px-80);
    height: var(--px-80);
}
.lds_dual_ring:after {
    content: " ";
    display: block;
    width: var(--px-64);
    height: var(--px-64);
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--load-color) transparent var(--load-color) transparent;
    animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
