.user_card {
    background-color: azure;
    padding: var(--padding);
    border: var(--border-gainsboro);
    border-radius: var(--radius);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: var(--width-300);
    column-gap: 24px;
    align-items: center;
}

.user_pic {
    border: 3px solid white;
    border-radius: 50%;
    width: var(--px-80);
}

.user_info {
    display: flex;
    flex-direction: column;
}
